---
import Button from '@components/Dynamic/Button'
import Layout from '@layouts/Layout.astro'

const REPRESENTATIONS = [
  {
    description: 'El volante representa la voluntad del líder.',
    image: 'volante.webp'
  },
  {
    description: 'Los faros equivalen a la inteligencia del líder.',
    image: 'faros.webp'
  },
  {
    description:
      'El motor es semejante a las pasiones relacionadas con la fortaleza.',
    image: 'motor.webp'
  },
  {
    description:
      'Los frenos simbolizan las pasiones relacionadas con el auto-control.',
    image: 'frenos.webp'
  }
]

const DESCRIPTIONS = [
  {
    description:
      'El buen uso de tu dirección, faros, motor y frenos, te transformará en un gran piloto en la carrera de la vida, para conducir hacia tus retos con más éxito y alegría.',
    image: 'direccion.webp',
    link: {
      label:
        'Para saber más sobre la metáfora del Ferrari, escucha este podcast.',
      href: '#'
    }
  },
  {
    description:
      ' El encarreramiento se sostiene en la sabiduría de grandes pensadores clásicos, griegos y romanos, cuyas ideas dan lugar a la estrategia, ciencia de la excelencia y aporte filosófico de LEAD.',
    image: 'carrera.webp',
    link: {
      label: 'Para más información, visita la página AprendoLeads.',
      href: '#'
    }
  }
]
---

<Layout
  title='Caracterograma, descubre tu perfil caracterológico y grado de desarrollo en un banco de 20 hábitos de alto desempeño'
  description='Despierta a tu líder interior y alcanza la excelencia mediante este test basado en la metáfora del Ferrari.'
>
  <div class='flex flex-col max-w-[960px] mx-auto flex-1'>
    <div class='flex flex-col gap-6 px-4 py-10 lg:gap-8 lg:flex-row'>
      <img
        src='/images/caracterograma/header.webp'
        class='w-full aspect-video object-cover rounded-xl h-auto sm:w-[400px]'
      />
      <div class='flex flex-col min-w-[400px] gap-8 justify-center'>
        <div class='flex flex-col gap-2 text-left'>
          <h1
            class='text-neutral-800 text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]'
          >
            Despierta a tu líder interior y alcanza la excelencia mediante este
            test basado en la metáfora del Ferrari.
          </h1>
          <h2
            class='text-neutral-800 text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal'
          >
            Explora veinte hábitos de alto desempeño, descubre tus fortalezas y
            debilidades de carácter.
          </h2>
        </div>
        <Button disabled>
          <span class='truncate'>PROXIMAMENTE</span>
        </Button>
      </div>
    </div>
    <h2
      class='text-neutral-800 text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5'
    >
      No hay líder sin carácter
    </h2>
    <div class='grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4'>
      {
        REPRESENTATIONS.map((item) => (
          <div class='flex flex-col gap-3 pb-3'>
            <img
              src={`/images/caracterograma/${item.image}`}
              class='w-full aspect-square bg-cover rounded-xl'
            />
            <p class='text-neutral-800 text-base font-medium leading-normal'>
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
    <h1
      class='text-neutral-800 text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5'
    >
      Eres un poderoso Ferrari
    </h1>
    <p class='text-neutral-800 text-base font-normal leading-normal pt-1 px-4'>
      LEAD es un modelo único de liderazgo y una aventura que te prepara para
      responder cuatro preguntas fundamentales:
    </p>
    <ul class='sm:px-4 leading-7 list-disc py-4 ml-6'>
      <li>¿Quién eres?</li>
      <li>¿Qué importa y tiene sentido?</li>
      <li>¿Dónde dejas tu huella?</li>
      <li>¿Cómo lo consigues?</li>
    </ul>
    <div class='sm:px-4 space-y-4 mt-2'>
      <p class='font-semibold'>Esto afirmó Peter Drucker:</p>
      <blockquote class='italic border-l-4 border-gray-400 text-gray-600 p-2'>
        Todos los libros de management, incluyendo los míos, se enfocan en
        administrar lo que hacen los demás, pero no puedes dirigir a otros sin
        dirigirte primero a ti mismo.
      </blockquote>
    </div>
    <div class='grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 py-4'>
      {
        DESCRIPTIONS.map((item) => (
          <div class='flex flex-col gap-3 pb-3'>
            <img
              src={`/images/caracterograma/${item.image}`}
              class='w-full aspect-square object-cover rounded-xl'
            />
            <div>
              <p class='text-[#1C160C] text-base font-medium leading-normal'>
                {item.description}
              </p>
              <Button as='a' href={item.link.href} variant='link'>
                {item.link.label}
              </Button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
